@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.blog-title{
   margin-top: 150px;
font-size: 50px;
font-weight: 700;
line-height: 59px;
letter-spacing: 0em;
text-align: left;
color: black;
font-weight: bolder;
}
.blog-description{
    font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;

}
.blog-date{
    font-family: Roboto;
font-size: 16px;
font-weight: 700;
margin-top: 3px;
margin-left: 15px;
margin-bottom: 10px;
letter-spacing: 0em;

}
.blog-date{
    margin-top: 10px;
    /* margin-left: 15px; */
    color: #324465;
}
.blog-card-title{
    font-family: Roboto;
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0em;
text-align: justified;

}
.blog-card-text{

    font-family: Roboto;
font-size: 17px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: left;

    
}
.image-border{
    overflow: hidden;
}
.blog-card-image{
    transition: all 1s;
    height: 250px;
    object-fit:cover ;
}
.blog-card:hover .blog-card-image{
    transform: scale(1.3);
}
.blog-card:hover .card-title{
    color:#324465;
}
.blog-card:hover{
    box-shadow: 1px 1px 5px gray;
    cursor:grab;
   
}
.truncate-two-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
  }


  
  .banner-image{
    object-fit: cover;

  }
  @media screen and (max-width:750px) {
    .banner-image{
       width: 300px;
       margin-top: 90px;
     
    }

    
  }
  .blog-card-border{
    border-radius: 90px;
  }

  @media screen and (max-width:600px) {
    .banner-image{
        display: none;
    }
    .blog-description{
        margin-bottom: 30px;
    }
    
  }
    
    
