@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: Roboto;

}
.bloginside-image{
    width:100%;
    height:500px;
    margin:auto;
    margin-bottom: 30px;
    object-fit: cover;

}

@media screen and (max-width:500px) {
    .bloginside-image{
        width:400px;
        height:400px;
        margin:auto;
        object-fit: cover;
    }

    
}
@media screen and (max-width:400px) {
    .bloginside-image{
        width:350px;
        height:400px;
        margin:auto;
    }

    
}

.bloginside-title{
    font-family: Roboto;
font-size: 32px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
margin:50px 0px;
color: #324465;

}

.bloginside-description{
    font-family: Roboto;
font-size: 19px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: left;

}