@tailwind base;
@tailwind components;
@tailwind utilities;



*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;

   /* overflow: hidden; */
}
body{
   overflow-x: hidden;
   
}



.formInput {
   @apply border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}
.formLable {
   @apply block mb-2 text-base font-semibold text-white dark:text-white
}
.delete{
   @apply bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600 transition duration-300
 }

 .thclass{
   @apply px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider
 }
 .tdclass{
   @apply px-5 py-5 border-b border-gray-200 bg-white text-sm
 }
 .addbtn{
   @apply focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800
}